<html>
  <head>
    <title>Emoji Garden</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/garden.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>

  <body>
    <% if (user) {%>
      <div id="garden">
        <h1>Emoji Garden <span>&#127803;</span> <a href="/" id="username"><%= user.username %></a></h1>
  
        <!--
        <div id="controls-container">
          <button id="clear-garden">Clear Garden</button>
          <button id="load-garden">Load Garden</button>
          <div id="nursery">Plant a Seed<span class="plant" draggable="true">&#127793;</span></div>
        </div>
      -->
      </div>
      <div id="seed-container">
        <span id="initial-seed" class="plant">&#127793;</span>
        <p id="seed-description">Click to Plant a Seed</p>
      </div>
      <script src="js/main.js"></script>
    <% } else { %>
      <h1>Welcome to the Emoji Garden</h1>
      <h2>Please log-in</h2>
      <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input name="password" placeholder="password" type="password" />
        <button class="submit-btn">Log In</button>
      </form>
      <a class="page-link" href="/sign-up">Sign up here</a>
    <%}%>
  </body>
</html>
