<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Emoji Garden</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <% if (user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/garden">Go To Garden</a>
    <a href="/log-out">LOG OUT</a>
  <% } else { %>
    <h1>Welcome to the Emoji Garden</h1>
    <h2>Please log-in</h2>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
    <a href="/sign-up">Sign up here</a>
  <%}%>
</body>
</html>