.plant {
    cursor: pointer;
    font-size: 42px;
}

#welcome-banner {
    margin: 1em;
}

#garden {
    height: 100%;
    width: 100%;
}

#seed-container {
    position: absolute;
}

#seed-description {
    display: inline;
    background-color: var(--cream-color);
    border-radius: 30px;
    border: 2px solid var(--dark-color);
    padding: 1em;
}

.timer {
    position: absolute;
    background-color: var(--cream-color);
    border-radius: 30px;
    border: 2px solid var(--dark-color);
    padding: 0.4em;
    cursor: pointer;
}

.paused {
    background-color: lightslategray;
}

.active {
    border: 5px solid yellow;
}
