body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

.plant {
    cursor: pointer;
}

#garden {
    height: 75%;
    width: 75%;
    background-color: rgb(126, 231, 126);
}
