body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
}

#controls-container {
    display: flex;
    justify-content: space-around;
}

.plant {
    cursor: pointer;
    font-size: 42px;
}

#garden {
    height: 100%;
    width: 100%;
    background-color: rgb(126, 231, 126);
}

#seed-container {
    position: absolute;
}

#seed-description {
    display: inline;
    background-color: rgb(246, 228, 193);
    border-radius: 30px;
    padding: 1em;
}
