body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#controls-container {
    display: flex;
    justify-content: space-around;
}

.plant {
    cursor: pointer;
    font-size: 42px;
}

#garden {
    height: 75%;
    width: 90%;
    background-color: rgb(126, 231, 126);
}
